<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrator Registration</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/png" href="../static/medical-store.webp" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>Administrator Registration</h1>
    <div class="logo">
        <img src="../static/medical-store.webp" alt="Logo" style="max-width: 95px; height: auto;" />
    </div>
    <nav>
        <a href="home.html">HOME</a>
        <a href="contact.html">CONTACT</a>
    </nav>
</header>

<main style="padding: 2em; text-align: -webkit-left; font-family: 'Poppins', sans-serif;">
    <h2 style="text-align: center">Sign up as an Administrator</h2>
    <form action="/admin_register" method="POST" style="max-width: 400px; margin: 0 auto;">
    <div style="margin-bottom: 15px;">
            <label for="name">Name</label><br />
            <input type="text" id="name" name="name" required placeholder="Enter your first name & the surname" style="padding: 10px; width: 100%;"/>
        </div>
        <div style="margin-bottom: 15px;">
            <label for="address">Address</label><br />
            <input type="text" id="address" name="address" required placeholder="Enter your address" style="padding: 10px; width: 100%;"/>
        </div>
        <div style="margin-bottom: 15px;">
            <label for="contactNo">Contact No</label><br />
            <input type="text" id="contactNo" name="contactNo" required placeholder="Enter your contact no" style="padding: 10px; width: 100%;"/>
        </div>
        <div style="margin-bottom: 15px;">
            <label for="email">Email Address</label><br />
            <input type="email" id="email" name="email" required placeholder="Enter your email" style="padding: 10px; width: 100%;"/>
        </div>
        <div style="margin-bottom: 15px;">
            <label for="password">Password</label><br />
            <input type="password" id="password" name="password" required placeholder="Enter your password" style="padding: 10px; width: 100%;"/>
        </div>
        <button type="submit" style="padding: 12px 20px; background-color: #007BFF; color: white; border: none; cursor: pointer;">Register</button>
    </form>
</main>

<footer>
    <p>&copy; 2025 GetMED | All Rights Reserved</p>
</footer>
</body>
</html>
